# Build directories
build/
cmake-build-debug/
cmake-build-release/

# Compiled objects
*.obj
*.o
*.exe
*.out
*.dll
*.so
*.dylib

# IDE
.vs/
.vscode/
.idea/
*.user
*.suo

# OS
Thumbs.db
Desktop.ini
.DS_Store
